body{
    width: 100%;
    height: 100%;
}

.comeco{
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    color: gray;
    display: flex;
    font-size: 8px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: gray 3px solid;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: 56px;
}

header h1{
    margin-left: 10px;
    
}

#titulo{
    color: white;
    background-color: rgb(155, 24, 24);
    width: 80%;
    text-align: center;
    margin-left: 157px;
}

.mundo{
    color: red;
    border-top: red 1px solid;
    border-bottom: solid red 1px;
    width: 6%; 
    text-align: center;
    margin: 0 auto;
}

.primeiro{
    color: grey;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
}

.paragrafo{
    color: grey;
    margin-left: 25%;
    font-size: 18px;
}

.conteudo{
    position: relative;
}

.direito{
    position: absolute;
    right: 8%;
    top: 20%; 
}

.direito h2{
    color: grey;
    font-size: 15px;
}

.nome p{
    color: rgb(240, 82, 82);
    border-bottom: solid 3px  rgb(221, 218, 218);

}

.todo{
    display: flex;
    margin-left: 12%;
    margin-top: 5%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 18px;
}

.imagem01, .imagem03{
    color: rgb(102, 101, 101);
    margin-right:25px;
}

.imagem02, .imagem04{
    color: rgb(102, 101, 101);
    margin-right: 25px;
    margin-top: 85px;
}



